@import "../base/colors";

.question-nav-btn:focus {
  box-shadow: none;
}

.question-nav-btn,
.answering-submit {
  color: $nav-bar;
  background-color: $light-nav-bar;
}

.question-nav-btn.disabled {
  color: gray;
}

.question-nav-btn:hover {
  background-color: $light-nav-bar-hover;
}

.stat-bar {
  background-color: $light-nav-bar;
}
.statistics-head {
  color: $dark-blue;
}
.answer-username-value .app-navigation-link {
  color: $dark-blue;
  font-weight: 600;
}

.answer-item {
  background-color: $light-nav-bar;
  box-shadow: 0 0 2px 0px $nav-bar;
  border-radius: 10px;
}

.reading-choices,
.create-choices-wrap {
  background-color: $light-nav-bar;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 0px $nav-bar;
}

.question-value {
  padding: 1rem 0;
}

.question-count {
  padding-bottom: 0.3rem;
  width: max-content;
  margin: auto;
  border-bottom: 3px solid;
}

.submit-choice-btn {
  color: $nav-bar;
  opacity: 0.5;
}
.submit-choice-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.question-highlight {
  background-color: $light-gray;
  box-shadow: 0 0 2px 0px $nav-bar;
}
