.dict-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .dict-info {
    display: flex;
  }
  .dict-info-image {
    max-width: 300px;
  }
  .dict-info-text {
    flex-grow: 1;
    padding-left: 3rem;
  }
  .reading-choices {
    width: 50%;
    margin-left: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .dict-info-image {
    width: 100%;
  }
  .navbar {
    margin-bottom: 0.5rem;
  }
  .reading-choices {
    width: 100%;
  }
  .question-preview-area {
    flex-direction: column;
  }
}

.answer-read-btn-group {
  width: 100%;
  margin: 1.5rem 0;
}

.multiple-choice-answer-wrap input,
.approval-answer-wrap input {
  margin-left: 0;
  margin-right: 1rem;
  position: relative;
}

.answer-wrap {
  margin: 1rem 0;
}

.question-navigation-wrap {
  display: flex;
  justify-content: center;
}
.question-navigation {
  display: flex;
  margin: 2rem auto;
}
.question-nav-btn:hover,
.answering-submit:hover {
  cursor: pointer;
}
.question-nav-btn {
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answering-submit-wrap {
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: center;
}

.answer-item {
  margin: 1rem 0;
}
.answer-image-wrap {
  padding: 1rem;
}
.reading-choices {
  padding: 1rem 3rem;
}
.question-label-wrap {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reading-choices .read-choice-preview {
}
.choice-letter {
}

.dict-img-upload {
  padding: 1rem 0;
}
.stat-bar {
  height: 1.3rem;
}
.no-answers {
  margin: 2rem auto;
}

@media only screen and (min-width: 1000px) {
  .statistics-wrap {
    width: 50%;
    margin: auto;
  }
}

.meta-input {
  margin-bottom: 0.5rem;
}

.question-type-btn-group {
  margin: 2rem auto;
}

.input-choice {
  position: relative;
  display: flex;
  align-items: center;
}
.submit-choice-btn:hover {
  cursor: pointer;
}
.submit-choice-btn {
  position: absolute;
  right: 0.5rem;
  font-size: 1.2rem;
}

.qeustions-preview {
  margin-bottom: 1rem;
}

.question-preview {
  margin-bottom: 1rem;
}
