$dark-blue: #1d3557;
$light-blue: #457b9d;
$nav-bar: #343a40;
$light-nav-bar: #f9f9f9;
$light-nav-bar-hover: #dfdfdf;
$success: #5cb85c;
$danger: #d9534f;
$persian-green: #1ea896;
$bitter-sweet: #ff715b;
